@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 1rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

[contenteditable="true"]:empty:before {
  @apply text-gray-500;
  content: attr(data-placeholder);
}

.bg-idea {
  @apply bg-idea-600 text-idea-100;
}
.bg-do {
  @apply bg-do-600 text-do-100;
}
.bg-doing {
  @apply bg-doing-600 text-doing-100;
}
.bg-review {
  @apply bg-review-600 text-review-100;
}
.bg-done {
  @apply bg-done-600 text-done-100;
}
.bg-finished {
  @apply bg-finished-600 text-finished-100;
}

.border-idea {
  @apply border-idea-500;
}
.border-do {
  @apply border-do-600;
}
.border-doing {
  @apply border-doing-500;
}
.border-review {
  @apply border-review-500;
}
.border-done {
  @apply border-done-500;
}
.border-finished {
  @apply border-finished-500;
}

.stroke-idea {
  @apply stroke-idea-500;
}
.stroke-do {
  @apply stroke-do-500;
}
.stroke-doing {
  @apply stroke-doing-500;
}
.stroke-review {
  @apply stroke-review-500;
}
.stroke-done {
  @apply stroke-done-500;
}
.stroke-finished {
  @apply stroke-finished-600;
}

.border-post {
  @apply border-post-500;
}
.border-video {
  @apply border-video-600;
}
.border-stories {
  @apply border-stories-500;
}
.border-todo {
  @apply border-todo-500;
}
.border-dev {
  @apply border-dev-500;
}
.border-print {
  @apply border-print-500;
}
.border-meeting {
  @apply border-meeting-500;
}
.border-finance {
  @apply border-finance-500;
}
.border-design {
  @apply border-design-500;
}
.border-ads {
  @apply border-ads-500;
}

.bg-content {
  @apply border border-gray-300/25 bg-gray-300/5 outline-black/10 backdrop-blur-2xl;
}

.bg-item {
  @apply px-3 py-1 text-xs font-medium;
}

.bg-select-item {
  @apply px-3 py-1 pl-8 text-xs font-light;
}

.debug-1 {
  @apply border border-red-500;
}
.debug-2 {
  @apply border border-yellow-500;
}
.debug-3 {
  @apply border border-green-500;
}
.debug-4 {
  @apply border border-sky-500;
}
.debug-5 {
  @apply border border-pink-500;
}

.scrollbars {
  @apply h-full overflow-hidden overflow-y-auto pr-1;
  scrollbars-gutter: stable;
}

.scrollbars::-webkit-scrollbar {
  @apply mr-4 block w-2;
}
.scrollbars::-webkit-scrollbar-button {
  @apply hidden;
}

.scrollbars::-webkit-scrollbar-track {
  @apply mr-4 bg-transparent;
}
.scrollbars::-webkit-scrollbar-track-piece {
  @apply mr-4 bg-transparent;
}
.scrollbars::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-700 outline-black/10 backdrop-blur-lg;
}

.highlight {
  box-shadow:
    inset 0 1px 0px 0 #ffffff99,
    inset 0 1px 4px 0 #ffffff44;
}

.highlight-soft {
  box-shadow: inset 0 1px 1px 0 #99ccff22;
}

.no-highlight {
  box-shadow: none;
}
.no-highlight:hover {
  box-shadow:
    inset 0 1px 0px 0 #ffffff99,
    inset 0 1px 4px 0 #ffffff44;
}

[data-selected].highlight-selected {
  box-shadow:
    inset 0 1px 1px 0 #ffffff66,
    inset 0 4px 12px 0 #ffffff33;
}

.button-primary {
  background-size: auto;
  background-position: center top;
  background-image: linear-gradient(
    to bottom,
    #9900ff 0%,
    #ff6633 35%,
    #9900ff00 80%
  );
}
